#word{
  font-size: 6em;
  font-family: 'Nunito Sans', sans-serif;
  height: 10%;
  margin-bottom: 0px;
  margin-top: auto;
  padding-bottom: 0px;
  margin-top: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
p .word{
  margin-left: auto;
  margin-right: auto;
}
.default {
  color: #FFFFFF;
}


body {
  background-color: #151515;
}

.correct {
  color: #05F140;
}

.incorrect {
  color: #D52941;
}

hr {
  padding-top: 0px;
  margin-top: 0px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  height: .5em;
  background-color: #FFFFFF;
}
#score-time-row {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
#score {
  padding-top: 0px;
  margin-top: 0px;
  color: #FFFFFF;
  width: 50%;
  font-size: 2em;
  float: left;
  display: block;
}

#time {
  padding-top: 0px;
  margin-top: 0px;
  color: #FFFFFF;
  font-size: 2em;
  width: 50%;
  text-align: right;
  float: right;
  display: block;
}
div {
  align: center;
}
